.btn {
  display: block;
  text-align: center;
  @include transition-ease;
}

.blue-btn {
  color: #fff;
  background-color: color( main-color );
  border: 1px #fff solid;

  @include on-event {
    color: color( main-color );
    background-color: #fff;
    border-color: color( main-color );
  }
}

.white-btn {
  color: color( main-color );
  background-color: #fff;
  border: 1px color( main-color ) solid;

  @include on-event {
    color: #fff;
    background-color: color( main-color );
    border-color: #fff;
  }
}