.five-section {
  margin-top: 100px;

  @include response-to( small ) {
    margin-top: 50px;
  }

  & .section-caption {
    text-align: center;
  }

  &__content {
    margin-top: 45px;
    @include flex( $j-c: space-between );
  }

  &__item {
    max-width: 47%;
    width: 100%;

    @include response-to( small ) {
      max-width: 100%;
      margin-bottom: 25px;
    }

    &_caption {
      color: rgb(74, 74, 74);
      padding-bottom: 15px;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 25px;
      line-height: 30px;
      font-weight: 700;
      font-family: $nunito;
      margin-bottom: 25px;
    }

    &_case {
      padding-left: 40px;
      margin-bottom: 15px;
      color: color( main-color );
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("../../img/arrow.svg");
      }
    }
  }
}