$container: 1497px;

$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px,
        extra-large: 1510px
);

$colors: (
        main-color: #0E80A4,
        dark-blue: #13273E
);

$z-layers: (
        bottomless-pit: -9999,
        default: 1,
        menu: 2,
        header-fix: 5,
        reg-form: 6,
        drop-down: 7
);