body {
  background-image: url("../../img/head-bg.svg"),
                    url("../../img/footer-bg.svg");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}